/.output
/PSModules
/.vscode
/TlsCertificateValidation/CHANGELOG.md
/TlsCertificateValidation/LICENSE
/TlsCertificateValidation/NOTICE
/TlsCertificateValidation/README.md
/TlsCertificateValidation/Modules